.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
    
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0px;
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
}
.card p{
    font-size: 14px;
}
.no-results{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-size: 16px;
    font-weight: 500;
}
